Options +FollowSymlinks
Options -Indexes

##Запрещаем доступ к файлам указанных расширений
<FilesMatch "(?i)((\.tpl|\.ini|\.log|(?<!robots)\.txt))">
Require all denied
</FilesMatch>

##Переопределяем URL с помощью mod_rewrite
RewriteEngine On
RewriteBase /
RewriteRule ^sitemap.xml$ index.php?route=extension/feed/google_sitemap [L]
RewriteRule ^yandex.xml$ index.php?route=feed/yandex_sitemap [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*(default|index|main)\.(html|php|htm)\ HTTP/ [NC]
RewriteRule ^(([^/]+/)*)(default|main|index)\.(html|php|htm)$ https://omega3.su/$1 [L,R=301]
RewriteCond %{QUERY_STRING} ^_route_=index.html$
RewriteRule ^(.*)$ https://omega3.su/? [R=301,L]

##Показываем все ошибки и предупреждения при разработке магазина. 
##Потом закомментировать
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag track_errors on
#показывать все ошибки для PHP 5.4.x, 5.6.x 
php_value error_reporting 32767
<FilesMatch "robots.txt$">
RewriteEngine off
</FilesMatch>
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*(default|index|main)\.(html|php|htm)\ HTTP/ [NC]
RewriteRule ^(([^/]+/)*)(default|main|index)\.(html|php|htm)$ https://omega3.su/$1 [L,R=301]
RewriteCond %{QUERY_STRING} ^_route_=index.html$
RewriteRule ^(.*)$ https://omega3.su/? [R=301,L]