.yandex_delivery_icon {
height: 24px;
width: 64px;
}
.yandex_delivery_icon img {
width: 100%;
height: 100%;       
}
.yandex_map_icon {
height: 48px;
width: 128px;
}
.yandex_map_icon img {
width: 100%;
height: 100%;       
}
.yandex_filter_icon {
height: 48px;
width: 128px;
}
.yandex_filter_icon img {
width: 100%;
height: 100%;       
}

.pvz-select {
    display: block; 
    margin-top: 2px; 
    margin-bottom: 4px;
}
.pvz-description-block {
}
.pvz-map-select {
    margin-top: 4px; 
    text-decoration: none;
}
.yd-additional-info-block {
    border-radius:8px; 
    -moz-border-radius:7px; 
    -khtml-border-radius:12px; 
    position: relative; 
    background: #FFF; 
    padding: 10px 20px 40px 20px; 
    width: auto; 
    max-width: 400px; 
    margin: 20px auto;
}
.yd-additional-info-description {
    width: auto; 
    overflow-y: auto; 
    max-height: 200px;
}
.yd-additional-info-image {
    width: 100%;
}
.yd-pickup-optgroup {
/*    color:red;
    margin: 1px 1px 1px 44px;
    background-position: 0 -8px;    
    background-image:url('https://acuteopencart.ru/image/flags/gb.png');
    background-repeat:no-repeat;*/
}
.yd-pickup-optgroup > option {
    color:green;
}
optgroup + optgroup {
border-top: 1px solid black;
margin-top: 8px;
}
.disabled-pickup-option {
    color: #dcdcdc;
}
.disabled-kd-option {
    color: #dcdcdc;
}